@{bool fl = false;}
@model List<Doshka.Models.Ad>
        <div class="search-filed__wrap" id="ads-search">
            <div class="search-options">
                <div class="search-element">
                    <input type="text" id="min-price" onchange="searchAction();" class="form-control" placeholder="Price from" name="minPrice"/>
                </div>
                <div class="search-element">
                    <input type="text" id="max-price" onchange="searchAction();" class="form-control" placeholder="Price to" name="maxPrice"/>
                </div>
                <div class="search-element">
                    <select class="selectpicker form-control" onchange="search();" id="type" name="type">
                        <option>Any</option>
                        <option>Sale</option>
                        <option>Give Away</option>
                        <option>Exchange</option>
                        <option>Purchase</option>
                    </select>
                </div>
                <div class="search-element">
                    <select class="selectpicker form-control" onchange="search();" id="category"
                             data-size="6" name="category">
                        @foreach (var category in ViewBag.CategoryList)
                        {
                            if (fl)
                            {
                                <option>@category.Name</option>
                            }
                            else
                            {
                                fl = true;
                            }
                        }
                    </select>
                </div>
                <div class="search-element">
                    <select class="selectpicker form-control" onchange="search();" id="subcategory"
                             data-size="6" name="sub-category">
                        @foreach (var subCategory in ViewBag.subCategoriesList)
                        {
                            <option>@subCategory.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    @if (Model.Count == 0)
    {
        <h3>Sorry, no results for your request</h3>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="col-sm-6">
                <div class="card card-block">
                    <h3 class="card-title">
                        @Html.DisplayFor(modelItem => item.Title)

                        @{
                            if (HttpContext.Current.User.IsInRole("Admin") || ((string) ViewBag.UserId == item.Author.Id))
                            {
                                <a href="/Ads/Edit/@item.Id">
                                    <span class="glyphicon glyphicon-edit" style="color: black"></span></a>
                                <a href="/Ads/Delete/@item.Id">
                                    <span class="glyphicon glyphicon-remove" style="color: red; float: right;"></span></a>
                            }
                        }

                    </h3>
                    <p class="card-text">
                        @Html.Raw(item.Description)
                    </p>
                    <div class="card-footer text-muted">
                        @Html.DisplayFor(modelItem => item.Author.Email)
                        @Html.DisplayFor(modelItem => item.Type)
                    </div>

                </div>
            </div>
        }
    }